<template>
  <div class="page-header clear-filter" filter-color="orange">
    <div
      class="page-header-image"
      style="background-image: url('img/login.jpg')"
    ></div>
    <div class="content">
      <div class="container">
        <div class="col-md-5 ml-auto mr-auto">
          <card type="login" plain>
            <div slot="header" class="logo-container">
              <img v-lazy="'img/now-logo.png'" alt="" />
            </div>

            <fg-input
              class="no-border input-lg"
              addon-left-icon="now-ui-icons users_circle-08"
              placeholder = "Логин"
              v-model="mlogin"
            >
            </fg-input>

            <fg-input
              class="no-border input-lg"
              addon-left-icon="now-ui-icons text_caps-small"
              placeholder = "Пароль"
              v-model="passwd"
	            type="password"
            >
            </fg-input>

             <alert type="alert" 
                    dismissible
                    v-show="visible"
              >
              <div class="alert-icon">
                <i class="now-ui-icons objects_key-25"></i>
              </div>
              <strong>Стоп!</strong> Неверный логин или пароль!
            </alert>
            
            <template slot="raw-content">
              <div class="card-footer text-center">
                <button
                  @click="login"
                  class="btn btn-primary btn-round btn-lg btn-block"
                  >Войти</button
                >
             </div>
            </template>
          </card>
        </div>
      </div>
    </div>
    <main-footer></main-footer>
  </div>
</template>
<script>
import { Card, Button, FormGroupInput, Alert } from '@/components';
import MainFooter from '@/layout/MainFooter';
export default {
  name: 'login-page',
  bodyClass: 'login-page',
  data() {
    return {
      mlogin: "",
      passwd: "",
      dismissible: false,
      savePass: false,
      visible: false,
    };
  },
  components: {
    Card, 
    Alert,
    MainFooter,
    [Button.name]: Button,
    [FormGroupInput.name]: FormGroupInput
  },
   methods: {
     login() {
      let passwd = this.passwd;
      let mlogin = this.mlogin;
      if (mlogin == "" || passwd == ""){ this.visible = true; } 
        else
          this.$router.push("/ports");
     },
     handleInput(e) {
      this.localValue = e.target.value;
      this.show = true;
    }
   },
   created() {}
};
</script>
<style></style>
